*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    text-align: center;
    margin: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  .time-display {
    font-size: 2em;
    margin: 20px 0;
  }
  
  .buttons button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .buttons button:active {
    background-color: #ddd;
  }
  